{% extends "layout.html" %}
{% block content %}
    <h2>Class Review's</h2>

    <h3>Create Review <a href="{{ url_for('reviews') }}">here</a></h3>
    <h3>Reviews</h3>
    {% for reviews in review %}
        <p class=reviews>
	{{ reviews.Department}};{{ reviews.CourseNumber }};{{ reviews.Stars }};{{ reviews.Instructor }}; {{ reviews.Year }}; {{ reviews.Comment }};
        </p>
    {% endfor %}

{% endblock %}
