{% extends "layout.html" %}
{% block content %}
    <h2>Adrian's Class Reviews</h2>
    <form action="{{ url_for('reviews') }}" method=post>
	<p class="heading">Department: <input type=text name=Department>
	<p class="heading">CourseNumber: <input type=text name=CourseNumber>
	<p class="heading">Stars: <input type=int name=Stars>
	<p class="heading">Instructor: <input type=text name=Instructor>
	<p class="heading">Year: <input type=text name=Year>
        <p class="heading">Comment:
	<textarea rows=5 cols=50 name=Comment></textarea></p>
	<p><input type=submit value=Submit></p>
    </form>
{% endblock %}
