{% extends "layout.html"  %}
{% block content %}
	<form actions="{{url_for('weather') }}" method= post>
		<p class= header>What city's weather would you like to know?<input type=text name=CITY></p>
		<p><input type=submit value=Weather></p>
	</form>	
	<h2>Weather</h2>
	<p class=Weather>
		City: {{city_name}}
		<br>
		Temprature: {{Temp}} 
		<br>
		Humidity: {{Humidity}}
		<br> 
		Pressure: {{Pressure}}
		<br> 
		Description: {{Description}}
		<br> 
	</p>
{%endblock%}	
	
